# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
mieruca/app/public/wp-admin
mieruca/app/public/wp-content/index.php
mieruca/app/public/wp-content/languages
mieruca/app/public/wp-content/ai1wm-backups
mieruca/app/public/wp-content/ewww
mieruca/app/public/wp-content/plugins
mieruca/app/public/wp-content/upgrade
mieruca/app/public/wp-content/upgrade-temp-backup
mieruca/app/public/wp-content/uploads
mieruca/app/public/wp-content/themes/index.php
mieruca/app/public/wp-includes
mieruca/app/public/index.php
mieruca/app/public/license.txt
mieruca/app/public/readme.html
mieruca/app/public/wp-*.php
mieruca/app/public/xmlrpc.php

# Configuration
mieruca/app/public/wp-config.php

# Log files
*.log

# htaccess
mieruca/app/public/.htaccess

# assets
mieruca/app/public/assets/css/sourcemaps
mieruca/app/public/assets/img/
# mieruca_html
mieruca/app/public/mieruca_html/

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

##themes内の管理不要なファイル
.DS_Store

##Local Sitesのファイル
logs
conf
sql